/*

Contents
================================

1. Shared Styles
	a. Fonts
    b. Extends
2. Header Section
3. Entries
    a. Pagination
    b. Post Style
4. Footer
================================

*/



body{
    background-color: black;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
}

main.container, main.content > .container{
    width:50em;
}

.center-txt{
    text-align: center;
}


.a-hover{
        color: gray;
        -webkit-transition: color 0.3s, linear;}

.a-hover:hover{
            color: gray;
            text-decoration:none;
            opacity:50;
        }    



.content{
    background-color: white;}

.content > .container{
       min-height: 58em;  
    }

.content h1{
    font-family: Georgia, "Times New Roman", Times, serif;}

.center-txt{
    font-size: 6em;  
    margin-top: 1em;
    border-bottom: 1px solid gray;
    padding-bottom: 0.6em;
    letter-spacing: 0.04em;
}

.top-strip{
    background-color: black;
    height: 1em;    
}


.entries{
    list-style: none;
    font-family: 'Noto Serif';
    margin:2em 0 0;}

.entries li{
        border-bottom: 1px solid gray;
        margin-bottom: 3em;
        padding-top: 1.5em;
    }

.entries span{
        text-transform: uppercase;
        font-size: 0.9em;
        letter-spacing: 0.1em;
    }

.entries h3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2em;
        margin-top: 0.2em;    }

.entries div{
        line-height: 1.7em;
        margin-top: 1.2em;
    }

.post h5{
        margin:5em 0 -6em 0;
        font-family: 'Noto Serif';
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 0.6em;
    }

.post h2{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 5em;
        padding: 1.5em 0 0.5em;
        letter-spacing: 0.05em;
    }

.post section{
        font-family: 'Noto Serif';
        line-height: 1.9em;
    }


footer .container{
    font-family: 'Noto Serif';
    color: white;
    padding: 2em 0;
    font-size: 0.8em;}
    
footer a{
        color: white;
        text-decoration: underline;
    }    